<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
    <div>
      <button id="notification-button" class="buttonHeader" (click)="goToPanier()">
          <ion-badge id="notifications-badge" color="danger">{{panierSevice.getLength()}}</ion-badge>
          <ion-icon name="notifications"></ion-icon>              
      </button>
    </div>
    <div>
      <button class="buttonHeader" (click)="goToAdmin()">
          <ion-icon name="notifications"></ion-icon>              
      </button>
    </div>
  </ion-toolbar>
</ion-header>
