
<app-header [title]="'Pizza Pasta'"></app-header>
  

<ion-content>

  <div id="container">
    <img *ngIf="loading" src="../../assets/image/Loading.png"/>
    <ion-card *ngFor="let pizza of pizzaListe">
      <ion-card-header>
        <ion-card-title>{{pizza.nom}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img class="PizzaPhoto" src={{pizza.photo}}/>
        {{pizza.prix}}
        <ion-button (click)="panierService.addPizza(pizza)">ajout panier</ion-button>
        <ion-button [routerLink]="['/pizza-detail', pizza]" routerLinkActive="router-link-active">voir detail</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
